.container-fluid {
    background-image: url(../img/bg/background-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}

.container-fluid h1:first-child {
    color: rgb(249, 62, 255);
    font-size: 60px;
    display: inline-block;
    position: relative;
    left: 480px;
    font-family: cursive;
}

.container-fluid .form-box {
    background: linear-gradient(-220deg,rgba(62, 6, 204, 0.7) 0%,rgba(121,24,242,0.7) 48%,rgba(172,50,228,0.7) 100%);
    padding: 10px;
    box-sizing: border-box;
    height: 85%;
    position: relative;
    top: 3px;
    border-radius: 20px;
    color: antiquewhite;
    font-family: sans-serif;
    font-size: 20px;
}

.container-fluid .form-box .form-group {
    width: 47%;
    display: inline-block;
    margin-right: 35px;
}

.container-fluid .form-box .form-group:first-child {
    position: relative;
    top: -35px;
}

.container-fluid .form-box .form-group:nth-child(3) {
    position: relative;
    top: -35px;
}

.container-fluid .form-box .form-group i {
    position: relative;
    bottom: 33px;
    left: 577px;
    cursor: pointer;
    color: black;
    display: inline-block;
}