.container-fluid {
    background-image: url(../img/bg/background-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container-fluid h1 {
    margin: 0;
}

#carousel {
    padding-left: 150px;
}

.carousel-indicators {
    margin-left: 250px;
}

.carousel-caption {
    margin-right: 100px;
}